<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Pengurusan Forum
          </h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item">
                        <a href="javascript:void(0)">
                          <i class="fas fa-file-invoice text-white"></i>
                        </a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="javascript:void(0)" class="text-white">
                          Quality Management
                        </a>
                      </li>
                      <li aria-current="page" class="breadcrumb-item active">
                        Action
                      </li>
                    </ol>
                  </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
                href="javascript:void(0)"
                class="btn btn-sm btn-default"
                (click)="openModal(addComplain, undefined)"
              >
                Add Action
              </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Forum</h5></div>

        <div class="card-header d-flex align-items-center">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0)">
              <img class="avatar" src="assets/img/theme/team-1.jpg" />
            </a>

            <div class="mx-3">
              <a
                class="text-dark font-weight-600 text-sm"
                href="javascript:void(0)"
              >
                John Snow
              </a>

              <small class="d-block text-muted"> 3 days ago </small>
            </div>
          </div>

          <div class="text-right ml-auto">
            <button class="btn btn-sm btn-primary btn-icon" type="button">
              <span class="btn-inner--icon">
                <i class="ni ni-fat-add"> </i>
              </span>

              <span class="btn-inner--text"> Follow </span>
            </button>
          </div>
        </div>

        <div class="card-body">
          <p class="mb-4">
            Personal profiles are the perfect way for you to grab their
            attention and persuade recruiters to continue reading your CV
            because you’re telling them from the off exactly why they should
            hire you.
          </p>

          <img
            alt="Image placeholder"
            class="img-fluid rounded"
            src="assets/img/theme/img-1-1000x600.jpg"
          />

          <div class="row align-items-center my-3 pb-3 border-bottom">
            <div class="col-sm-6">
              <div class="icon-actions">
                <a class="like active" href="javascript:void(0)">
                  <i class="ni ni-like-2"> </i>

                  <span class="text-muted"> 150 </span>
                </a>

                <a href="javascript:void(0)">
                  <i class="ni ni-chat-round"> </i>

                  <span class="text-muted"> 36 </span>
                </a>

                <a href="javascript:void(0)">
                  <i class="ni ni-curved-next"> </i>

                  <span class="text-muted"> 12 </span>
                </a>
              </div>
            </div>

            <div class="col-sm-6 d-none d-sm-block">
              <div class="d-flex align-items-center justify-content-sm-end">
                <div class="avatar-group">
                  <a
                    class="avatar avatar-xs rounded-circle"
                    tooltip="Jessica Rowland"
                    placement="top"
                    href="javascript:void(0)"
                  >
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/team-1.jpg"
                    />
                  </a>

                  <a
                    class="avatar avatar-xs rounded-circle"
                    tooltip="Audrey Love"
                    placement="top"
                    href="javascript:void(0)"
                  >
                    <img
                      alt="Image placeholder"
                      class="rounded-circle"
                      src="assets/img/theme/team-2.jpg"
                    />
                  </a>

                  <a
                    class="avatar avatar-xs rounded-circle"
                    tooltip="Michael Lewis"
                    placement="top"
                    href="javascript:void(0)"
                  >
                    <img
                      alt="Image placeholder"
                      class="rounded-circle"
                      src="assets/img/theme/team-3.jpg"
                    />
                  </a>
                </div>

                <small class="pl-2 font-weight-bold"> and 30+ more </small>
              </div>
            </div>
          </div>

          <div class="mb-1">
            <div class="media media-comment">
              <img
                alt="Image placeholder"
                class="avatar avatar-lg media-comment-avatar rounded-circle"
                src="assets/img/theme/team-1.jpg"
              />

              <div class="media-body">
                <div class="media-comment-text">
                  <h6 class="h5 mt-0">Michael Lewis</h6>

                  <p class="text-sm lh-160">
                    Cras sit amet nibh libero nulla vel metus scelerisque ante
                    sollicitudin. Cras purus odio vestibulum in vulputate
                    viverra turpis.
                  </p>

                  <div class="icon-actions">
                    <a class="like active" href="javascript:void(0)">
                      <i class="ni ni-like-2"> </i>

                      <span class="text-muted"> 3 likes </span>
                    </a>

                    <a href="javascript:void(0)">
                      <i class="ni ni-curved-next"> </i>

                      <span class="text-muted"> 2 shares </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="media media-comment">
              <img
                alt="Image placeholder"
                class="avatar avatar-lg media-comment-avatar rounded-circle"
                src="assets/img/theme/team-2.jpg"
              />

              <div class="media-body">
                <div class="media-comment-text">
                  <h6 class="h5 mt-0">Jessica Stones</h6>

                  <p class="text-sm lh-160">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante sollicitudin. Cras purus odio, vestibulum
                    in vulputate at, tempus viverra turpis.
                  </p>

                  <div class="icon-actions">
                    <a class="like active" href="javascript:void(0)">
                      <i class="ni ni-like-2"> </i>

                      <span class="text-muted"> 10 likes </span>
                    </a>

                    <a href="javascript:void(0)">
                      <i class="ni ni-curved-next"> </i>

                      <span class="text-muted"> 1 share </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="media align-items-center">
              <img
                alt="Image placeholder"
                class="avatar avatar-lg rounded-circle mr-4"
                src="assets/img/theme/team-3.jpg"
              />

              <div class="media-body">
                <form>
                  <textarea
                    class="form-control"
                    placeholder="Write your comment"
                    rows="1"
                  ></textarea>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #editComplain>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Action
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editActionForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter Name"
          formControlName="name"
          type="text"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label">Detail</label>
        <textarea
          class="form-control"
          placeholder="Enter Name"
          formControlName="detail"
          type="text"
        ></textarea>
      </div>

      <input name="id" formControlName="id" type="hidden" />
    </form>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button
        class="btn btn-default"
        type="submit"
        (click)="editActionDetail()"
      >
        Save
      </button>

      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #addComplain>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Add New Action
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addNewActionForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter Name"
          formControlName="name"
          type="text"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label">Detail</label>
        <textarea
          class="form-control"
          placeholder="Enter Name"
          formControlName="detail"
          type="text"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" type="submit" (click)="addNewAction()">
        Save
      </button>

      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
